.header {
  display: flex;
  justify-content: space-between;
  &__logo {
    font-size: 24px;
  }
  &__add {
    display: flex;
    align-items: center;
    &--user {
      margin-right: 10px;
    }
  }
}
